In [1]:
import pandas as pd

In [2]:
date_range = pd.date_range(start=pd.datetime(year=2013,
                                             month=7,
                                             day=1),
                           end=pd.datetime(year=2019,
                                           month=4,
                                           day=27)
                          ).tolist()

def renamer(columns):
    new_names = {}
    for c in columns:
        new_names[c] = c.lower().replace('\n', '')
    return new_names

def find_total_column(columns):
    try:
        names = [s for s in columns if 'total passageiros' in s]
        assert len(names) == 1
    except AssertionError:
        names = [s for s in columns if 'tot passageiros' in s]
        assert len(names) == 1
            
    return names[0]

In [7]:
passenger_history = pd.DataFrame(columns=['8012', '8022'], index=date_range)
for date in date_range:
    try:
        spreadsheet = pd.read_excel('./raw/pass_transp_{year}_{month}_{day}.xls'.format(
            year = date.year,
            month = str(date.month).zfill(2),
            day = str(date.day).zfill(2)
        ), header=None)
    except AssertionError:
        continue

    # looking for the header row
    for i, row in spreadsheet.iterrows():
        if row.notnull().all():
            raw_data = spreadsheet.iloc[(i+1):].reset_index(drop=True)
            raw_data.columns = list(spreadsheet.iloc[i])
            break

    raw_data.dropna(inplace=True)
    raw_data.rename(columns=renamer(raw_data.columns), inplace=True)
    raw_data.rename(columns={find_total_column(raw_data.columns):'total'}, inplace=True)
    try:
        circular_1 = raw_data.loc[raw_data['linha'].str.contains('8012')]['total'].values[0]
        circular_2 = raw_data.loc[raw_data['linha'].str.contains('8022')]['total'].values[0]
    except IndexError:
        continue
    
    passenger_history.loc[date] = {
        '8012' : circular_1,
        '8022' : circular_2
    }

In [9]:
passenger_history

            8012  8022
2013-07-01  2969  2516
2013-07-02  3387  2869
2013-07-03  3361  3037
2013-07-04  3386  2996
2013-07-05  2909  2893
2013-07-06   783  1085
2013-07-07   308   366
2013-07-08  1376  1171
2013-07-09   431   473
2013-07-10  3397  2949
2013-07-11  2768  2437
2013-07-12  3172  2763
2013-07-13   700   989
2013-07-14   428   531
2013-07-15  2997  2668
2013-07-16  2936  2694
2013-07-17  2921  2623
2013-07-18  2903  2523
2013-07-19  2655  2484
2013-07-20   790   965
2013-07-21   502   759
2013-07-22  2838  2708
2013-07-23  2773  2561
2013-07-24  2645  2464
2013-07-25  2693  2543
2013-07-26  2758  2529
2013-07-27   774   946
2013-07-28   274   410
2013-07-29  2931  2678
2013-07-30  2914  2755
...          ...   ...
2019-03-29  3497  3241
2019-03-30  1263  1350
2019-03-31   310   304
2019-04-01  3312  3091
2019-04-02  3477  3392
2019-04-03  3612  3370
2019-04-04  3428  3236
2019-04-05  3365  3118
2019-04-06  1296  1429
2019-04-07   343   309
2019-04-08  3200  3063
2019-04-09  3581  3239
2019-04-10  3607  3413
2019-04-11  3597  3352
2019-04-12  3831  3137
2019-04-13  1681  1737
2019-04-14   309   329
2019-04-15  2678  2545
2019-04-16  2928  2719
2019-04-17  2907  2627
2019-04-18  2434  2241
2019-04-19   299   267
2019-04-20   402   377
2019-04-21   216   198
2019-04-22  3288  3165
2019-04-23  3597  3348
2019-04-24  3728  3252
2019-04-25  3447  3343
2019-04-26  2146  2258
2019-04-27   NaN   NaN

[2127 rows x 2 columns]

In [26]:
fails = max(passenger_history.isna().sum()['8012'], passenger_history.isna().sum()['8022']) / passenger_history.shape[0]
print('Failed on {:.2f}%.'.format(fails * 100))

Failed on 1.27%.

In [27]:
passenger_history.to_csv('./processed/pass_transp_clean.csv')